.building-section-wrapper {
  margin-top: -20px;
}

.background {
  background-blend-mode: darken;
}
  
.home {
  text-shadow: -1px -1px 3px #222,-1px 1px 3px #222,1px 1px 3px #222,1px -1px 3px #222;
}

#davo {
  /* Mostly display-1 from Bootstrap */
  font-family: Oswald,Roboto,Helvetica;
  font-weight: 300;
  font-size: calc(1.625rem + 4.5vw);
  line-height: 1.2;
}
