{{/*
    This template is based on Toha about, and old ddavo.me's design
    TODO: Add the image to the left (or right perhaps)
*/}}

{{ $sectionID := replace (lower .section.name) " " "-"  }}
{{ if .section.id }}
  {{ $sectionID = .section.id }}
{{ end }}

{{ $author:= site.Data.author }}
{{ if (index site.Data site.Language.Lang).author }}
  {{ $author = (index site.Data site.Language.Lang).author }}
{{ end }}

{{ $authorImage:= "/images/default-avatar.png" }}
{{ if $author.image }}
  {{ $authorImage = $author.image }}
{{ end }}
{{ $authorImage := resources.Get $authorImage }}

{{/* apply image processing. don't use "Fit" in svg or gif because its not supported */}}
{{ if and $authorImage (and (ne $authorImage.MediaType.SubType "svg") ( ne $authorImage.MediaType.SubType "gif")) }}
  {{ $authorImage = $authorImage.Fit "200x200" }}
{{ end }}
{{/* TODO: Make responsive */}}

<!-- section container -->
<div class="container anchor p-lg-5 about-section pb-4" id="{{ $sectionID }}">
    <div class="row">
      <div class="col offset-md-3">
        <h3 class="p-1">{{ $author.name }}</h3>
        {{ if .designation }}
        <h5 class="p-1">
          {{ .designation }}
          {{ if .company }}
          {{ i18n "at"}} <a href="{{ .company.url }}" title="{{ .company.name }}" target="_blank" rel="noopener">{{ .company.name }}</a>
          {{ end }}
        </h5>
        {{ end }}
      </div>
    </div>
    <div class="row">
      <!-- author image -->
      <div class="col-md-3 d-flex align-items-center">
        <img src="{{ $authorImage.RelPermalink }}"
          class="rounded-circle mx-auto d-block img-fluid"
          alt="Author Image"
        />
      </div>
      <div class="col-md-9 mt-3">
        <div class="text-justify">
          {{ $markdown := .summary | markdownify }}
          {{ if ( strings.Contains $markdown "<p>" ) }}
            {{ $markdown }}
          {{ else }}
            <p class="p-1 text-justify">
              {{ $markdown }}
            </p>
          {{ end }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col offset-md-3">
        <!-- Social links -->
        <div class="text-container ml-auto">
          <ul class="social-link d-flex">
            {{ range .socialLinks }}
            <li>
              {{ if eq .name "Email" }}
                <a href="mailto:{{ .url }}" title="{{ .name }}" target="_blank" rel="noopener"><i class="{{ .icon }}"></i></a>
              {{ else if eq .name (i18n "phone") }}
                <a href="tel:{{ .url }}" title="{{ .name }}" target="_blank" rel="noopener"><i class="{{ .icon }}"></i></a>
              {{ else }}
                <a href="{{ .url }}" title="{{ .name }}" target="_blank" rel="noopener"><i class="{{ .icon }}"></i></a>
              {{ end }}
            </li>
            {{ end }}
          </ul>
        </div>
        {{ if .resume }}
        <a href="{{ .resume | relURL }}" title="{{ i18n "resume"}}" target="#"
          ><button class="btn btn-dark">{{ i18n "resume"}}</button></a
        >
        {{ end }}
        {{ range .resourceLinks }}
        <a href="{{ .url | relURL }}" title="{{ .title }}" target="#"
          ><button class="btn btn-dark">{{ .title }}</button></a
        >
        {{ end }}
      </div>
    </div>
</div>
